<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${LOKI_URL}</url>
        </http>
        <format>
            <label>
                <pattern>app=weather-app-backend,level=%level</pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>
                    {
                    "timestamp":"%d{yyyy-MM-dd HH:mm:ss}",
                    "level":"%level",
                    "loggerName":"%logger{36}",
                    "mdc":"%mdc",
                    "message":"%message"
                    }
                </pattern>
            </message>
        </format>
    </appender>

    <appender name="DebugFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/debug.%d{yyyy-MM-dd_HH-mm}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
            <withSequenceNumber>false</withSequenceNumber>
            <withNanoseconds>false</withNanoseconds>
            <withThreadName>false</withThreadName>
            <withContext>false</withContext>
            <withThrowable>false</withThrowable>
        </encoder>
    </appender>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
            <withSequenceNumber>false</withSequenceNumber>
            <withNanoseconds>false</withNanoseconds>
            <withThreadName>false</withThreadName>
            <withContext>false</withContext>
            <withThrowable>false</withThrowable>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="LOKI"/>
        <appender-ref ref="DebugFile"/>
        <appender-ref ref="Console"/>
    </root>
</configuration>