<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
            <withSequenceNumber>false</withSequenceNumber>
            <withNanoseconds>false</withNanoseconds>
            <withThreadName>false</withThreadName>
            <withContext>false</withContext>
            <withThrowable>false</withThrowable>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="Console"/>
    </root>
</configuration>